body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background: #007bff;
    color: white;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 8px;
    text-align: center;
}

.verde td { background: #d4edda; }
.amarillo td { background: #fff3cd; }
.rojo td { background: #f8d7da; }
