<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

<button onclick="history.back()">⬅ Volver</button>

<h2>Ventas del día {{ fecha }}</h2>

<table>
<tr>
<th>SKU</th>
<th>Talla</th>
<th>Vendidos</th>
</tr>

{% for m in movimientos %}
<tr>
<td>{{ m[0] }}</td>
<td>{{ m[1] }}</td>
<td>{{ m[2] }}</td>
</tr>
{% endfor %}

</table>

<h3>Total unidades vendidas: {{ total_vendido }}</h3>

</div>
</body>
</html>
